* {
  font-family: Arial;
}
.message {
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
  border-color: darkcyan;
}

a:link {
  color: black;
}
a:visited {
  color: black;
}


.message button, .button {
  height: 30px;
  font-size: 20px;
  background-color: white;
  border: solid;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
}

.messages {
}

.messages-compose input {
  width: 90%;
}
.messages-compose aside {
  float: right;
}

.app {
  padding: 15px;
}
